
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.nav-main {
    background-color: rgb(200, 200, 250);
    padding: 20px;
}

.nav-main ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.nav-main li {
    display: inline-block;
}

.nav-main .active a {
    text-decoration: none;
}

h1 {
    color: rgb(100, 100, 200);
    margin-top: 20px;
}

form {
    padding: 20px;
    width: fit-content; /* max-width: 700px; */
    margin: 0 auto;
}

form .field-row {
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    gap: 10px 15px;
    align-items: center;
    margin-bottom: 12px;
}

form .field-row label {
    text-align: left;
}

form .field-row input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

form input {
    padding: 8px 12px;
}

form button[type="submit"],
form input[type="submit"] {
    padding: 12px 20px;
    margin: 8px 0px;
    background-color: #336ef3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

